<template>
  <div class="about">
    <router-view></router-view>
    Emplyee Number : {{ id }}
    <form action="">
      <label for="employee_name">Name</label>
      <input type="text" v-model="sendData.name" name="employee_name" id="employee_name">
      <label for="employee_age">Age</label>
      <input type="text" v-model="sendData.age" name="employee_age" id="employee_age">
      <label for="employee_salary">Salary</label>
      <input type="text" v-model="sendData.salary" name="employee_salary" id="employee_salary">
      <button type="button" @click="editEmp()">Save</button>
    </form>
  </div>
</template>
<script>

  import { APIService } from '../../APIService';
  const apiService = new APIService();
  export default {
    name: 'Edit',
    components: {
    },
    data() {
      return {
        id: null,
        sendData: {
          "name": null,
          "salary": null,
          "age": null
        },
        empData: null
      };
    },
    created() {
      this.id = this.$route.params.id;
      this.empData = this.$store.getters.getEmpById(this.id);
      if (this.empData) {
        this.sendData.name = this.empData.employee_name
        this.sendData.age = this.empData.employee_age
        this.sendData.salary = this.empData.employee_salary
      }
    },
    methods: {
      editEmp() {
        if (this.id) {
          apiService.updateEmp(this.sendData, this.id).then((data) => {
            this.$store.dispatch('loadEmpData')
          });
        }
        else {
          apiService.createEmp(this.sendData, this.id).then((data) => {
            this.$store.dispatch('loadEmpData')
          });
        }
        this.$router.push({ path: '/employee' })
      }
    }
  }
</script>
<style lang="css">
  label,
  input {
    display: block
  }
</style>