<template>
  <div>
    <h1>Employee Data</h1>
    <router-link :to="{path:'/create'}">Add Employee</router-link>
    <table class="table table-bordered table-hover">

      <thead>

        <tr>

          <th>id</th>
          <th>employee_name</th>
          <th>employee_age</th>
          <th>employee_salary</th>
          <th>profile_image</th>
          <th>delete/edit</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="emp in employees" v-bind:key='emp.id' v-bind:id="'emp-'+emp.id">

          <th>{{ emp.id }}</th>

          <th>{{ emp.employee_name }}</th>

          <td>{{ emp.employee_age }}</td>

          <td>{{ emp.employee_salary }} </td>

          <td>{{ emp.profile_image }} </td>

          <td>
            <button class="btn btn-danger" @click="deleteEmp(emp.id)"> X</button>
          </td>
          <td>
            <router-link :to="{ name: 'employeeEdit', params: { id: emp.id }}">&#x270e;</router-link>

          </td>
        </tr>
      </tbody>
    </table>
    <div>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import { APIService } from '../../APIService';
  const apiService = new APIService();

  export default {

    name: 'ListempData',

    components: {

    },

    data() {

      return {
      };

    },

    methods: {
      deleteEmp(id) {
        apiService.deleteEmp(id).then((data) => {
          console.log(data);
          this.$store.dispatch('loadEmpData')
        });
      }
    },
    computed: mapState([
      'employees'
    ])
  }
</script>