<template>
  <div>
    <router-link :to="{ path: '/employee'}">Employee</router-link><br>
    <router-view></router-view>
  </div>

</template>

<script>
  export default {

    name: 'ListempData',

    components: {
    },
    beforeCreate() {      
      this.$store.dispatch('loadEmpData')
    },
    data() {
      return {
      };
    }
  }
</script>